<h1>Справочник</h1>



    
<label class="active" for="first_name" placeholder="Фильтр">Поиск по Ф.И.О</label>
<input  id="first_name"  class="validate" [(ngModel)]="searchStr"><br />
<input type="button" value="Добавить" class="btn btn-success" (click)="add()" />


<table *ngIf="tableMode; else create" class="table table-striped">
    <thead>
        <tr>
            <td>ID</td>
            <td>Ф.И.О.</td>
            <td>Номер телефона</td>
            <td>Комната</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products | search:searchStr">
            <ng-template [ngIf]="product?.id != p.id" [ngIfElse]="edit">
                <td>{{p?.id}}</td>
                <td>{{p?.Name}}</td>
                <td>{{p?.phone_id}}</td>
                <td>{{p?.room_id}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="editProduct(p)">Изменить</button>
                    <button class="btn btn-sm btn-danger" (click)="delete(p)">Удалить</button>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>
 
<!--шаблон для редактирования-->
<ng-template #edit>
    <td>
        
    </td>
    <td>
        <input type="text" [(ngModel)]="product.Name" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="product.phone_id" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="product.room_id" class="form-control" />
    </td>
    
    <td>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>
 
<!--шаблон для добавления-->
<ng-template #create>
    <div class="form-group">
        <label>ФИО</label>
        <input type="text" [(ngModel)]="product.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Телефон</label>
        <input type="text" [(ngModel)]="product.phone_id" class="form-control" />
    </div>
    <div class="form-group">
        <label>Комната</label>
        <input type="text" [(ngModel)]="product.room_id" class="form-control" />
    </div>
    <div>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>